<!doctype html>
{% include 'header.html' with title=assignment.title %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">{{ assignment.title }}</h1>
            <div class="line-below-title"></div>
            <div class="page-subtitle"> Due {{assignment.deadline|date:"F d"}}, total of {{ assignment.points }} 
                {% if assignment.points <= 1 %}
                    point
                {% else %}
                    points
                {% endif %}
                </div>
        </hgroup>

        <div class="action-block">
            Currently {{ submission_count }}/{{ total_student }} 
            {% if submission_count <= 1 %}
                submission<br>
            {% else %}
                submissions<br>
            {% endif %}
            <div class="link">
                {{ graded_count }} 
                {% if graded_count <= 1 %}
                    submission
                {% else %}
                    submissions
                {% endif %}
                assigned to you <a href="/{{ assignment.id }}/submissions" title="Going to Submissions Page">Grade</a>
            </div>
        </div>

        <h3>Description</h3>
        {{ assignment.description|safe }}
    </main>
</body>

