<!doctype html>
{% include 'header.html' with title=assignment.title %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">{{ assignment.title }}</h1>
            <div class="line-below-title"></div>
            <div class="page-subtitle"> 
                Due {{assignment.deadline|date:"F d"}}, total of {{ assignment.points }} point{{assignment.points|pluralize}} 
            </div>
        </hgroup>
        
        {% if not is_authenticated or is_student %}
        <div class="action-block">
            <p>
                {% if student_submission %}
                    {% if student_submission.score is not None %}
                        Your submission, <a href="{{student_submission.file.url}}">{{student_submission.file.name}}</a>, received {{student_submission.score}}/{{assignment.points}} point{{assignment.points|pluralize}} ({{ percentage_score }}%)
                    {% elif student_submission.score is None and is_passed %}
                        Your submission, <a href="{{student_submission.file.url}}">{{student_submission.file.name}}</a>, is being graded
                    {% elif not is_passed %}
                        Your current submission is <a href="{{student_submission.file.url}}">{{student_submission.file.name}}</a>
                    {% endif %}
                {% else %}
                    {% if not is_passed %}
                        No current submission
                    {% else %}
                        You did not submit this assignment and received 0 points
                    {% endif %}
                {% endif %}
            </p>

            {% if not is_passed %}
            <form action="/{{assignment.id}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if error %}
                    <output>{{error}}</output>
                {% endif %}
                <label for="file"><input type="file" name="uploaded_file" accept="application/pdf"></label>
                <button type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
        {% endif %}

        {% if is_TA %}
        <div class="action-block">
            Currently {{ submission_count }}/{{ total_student }} submission{{submission_count|pluralize}}
            <div class="link">
                {{ graded_count }} submission{{ graded_count|pluralize }} assigned to you <a href="/{{ assignment.id }}/submissions" title="Going to Submissions Page">Grade</a>
            </div>
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="action-block">
            <div class="link">
            Currently {{ submission_count }}/{{ total_student }} submission{{submission_count|pluralize}} <a href="/{{ assignment.id }}/submissions" title="Going to Submissions Page">Grade</a>
            </div>
        </div>
        {% endif %}


        <h3>Description</h3>
        {{ assignment.description|safe }}
    </main>
</body>

