<!doctype html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <script type=module src="/static/main.js"></script>
    <header class="navigation-banner">
        <nav class="contents">
            <div class="navigation-left">
                <span>CS 3550</span>
                <a href="/">Assignments</a>
            </div>
            <a href="/profile/">Profile</a>
        </nav>
    </header>
</body>
