<!doctype html>
{% include 'header.html' with title='All Assignment View' %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">All assignments</h1>
            <div class="line-below-title"></div>
        </hgroup>
        <table>
            <thead class="header-row">
                <th>Assignment</th>
                <th>Due date</th>
                <th class="number-column">Weight</th>
            </thead>        
            
            <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td><a href="/{{ assignment.id }}/">{{ assignment.title }}</a></td>
                        <td>{{ assignment.deadline|date:"M j" }}</td>
                        <td class="number-column">{{ assignment.weight }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

