<!doctype html>
{% include 'header.html' with title='Login Page' %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">Log in</h1>
            <div class="line-below-title"></div>
        </hgroup>

        <form id="login-form"> 
            <label for="username">Username:
                <input id="username" type="text" autofocus>
            </label>
            <label for="password">Password:
                <input id="password" type="password">
            </label>
            <button title="Log in and go to the Profile Page" type="submit">Log in</button>
        </form>
    </main>
</body>

