<!doctype html>
{% include 'header.html' with title='Profile Page' %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">Your grades</h1>
            <div class="line-below-title"></div>
        </hgroup>
        <div class="action-block">
            <div class="link">
                Currently logged in as {{ user.get_full_name }}. <a href="/profile/logout/" role="button" title="Log out and go to the login page">Log out</a>
            </div>
        </div>
        
        {% if is_TA or is_superuser %}
        <table>
            <thead class="header-row">
                <tr>
                    <th>Assignment</th>
                    <th class="number-column">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for id, title, count_graded, count_submission in assignment_info %}
                    <tr>
                        <td><a href="/{{ id }}/">{{ title }}</a></td>
                        <td class="number-column">{{ count_graded }} / {{ count_submission }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if is_student %}
        <table>
            <thead class="header-row">
                <tr>
                    <th>Assignment</th>
                    <th class="number-column">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for id, title, percentage_grade, state in student_info %}
                    <tr>
                        <td><a href="/{{ id }}/">{{ title }}</a></td>
                        {% if state == 'Graded' %}
                            <td class="number-column">{{ percentage_grade }}%</td>
                        {% else %}
                            <td class="number-column">{{ state }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="final_grade">
                <tr><td>Final grade</td><td class="number-column">{{ final_grade|floatformat:1 }}%</td></tr>
            </tfoot>
        </table>
        {% endif %}
    </main>
</body>

