<!doctype html>
{% include 'header.html' with title='Profile Page' %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">Your grades</h1>
            <div class="line-below-title"></div>
        </hgroup>
        <div class="action-block">
            <div class="link">
                Currently logged in as {{ user.get_full_name }}. <a href="/profile/logout/" role="button" title="Log out and go to the login page">Log out</a>
            </div>
        </div>
        
        <table>
            <thead class="header-row">
                <tr>
                    <th>Assignment</th>
                    <th class="number-column">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for id, title, count_graded, count_submission in assignment_info %}
                    <tr>
                        <td><a href="/{{ id }}/">{{ title }}</a></td>
                        <td class="number-column">{{ count_graded }} / {{ count_submission }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

