<!doctype html>
{% include 'header.html' with title='Submission Page' %}

<body>
    <main class="main-contents">
        <hgroup>
            <h1 class="page-title">{{ assignment.title }}</h1>
            <div class="line-below-title"></div>
            <div class="page-subtitle">All grades out of {{ assignment.points }}</div>
        </hgroup>

        <form id="submission-form">
            <table>
                <thead class="header-row">
                    <th>Student</th>
                    <th>Submission</th>
                    <th>Grade</th>
                </thead>
                <tbody>
                    {% for submission in submission_set %}
                        <tr>
                            <td>{{submission.author.get_full_name}}</td>
                            <td><a href="/{{submission.file.url}}/" title="Going to the student's submission">Submission</a></td>
                            <td><label for="grades"><input id="grades" type="number" min="0" max="100" value="{{ submission.score|default:'' }}"></label></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button title="Submit all students' grades" type="submit">Submit</button>
            <a href="/{{ assignment.id }}/">Back to assignment</a>
        </form>
    </main>
</body>

