/* Set up Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body { font-family: 'IBM Plex Sans', sans-serif; line-height:1.25;}
code { font-family: 'IBM Plex Mono', sans-serif;}

/*Table*/
td, th { line-height: 1.5;}
th { text-align: left;}
table { width: 100%;}
.number-column { text-align: right;}

/*Navigation banner*/
.navigation-banner .contents { font-size: 1.25rem;}
.navigation-banner .contents a { color: #444; text-decoration: none;}
.navigation-banner .contents a:hover { text-decoration: underline;}
.navigation-banner .contents span { font-weight: bold;}

/*Page title*/
.page-title { font-size: 1.5rem;}

/*Description title in assignment page*/
.main-contents h3{ font-size: initial;} 

/*Login form*/
#login-form, #login-form button, #login-form label, #login-form input { font-size: 1.25rem; display: flex;}
#login-form { flex-direction: column;}
#login-form input, #login-form button { width: 50%;}
#login-form button { align-self: center; justify-content: center;}
#login-form label { flex-direction: row; margin-bottom: 1rem; justify-content: space-between;}

/*Submission form*/
#submission-form button, #submission-form input { width: initial;}

/*Margin, Border, Padding*/
html, body, h1 { margin:0; padding: 0;}
.navigation-banner { background-color: #ddd; display: flex; box-shadow: 0 0 5px #ddd; padding-top: 0.5rem; padding-bottom: 0.5rem; margin-bottom: 3rem;}
.navigation-banner span { color: black; font-weight: bold;}
.navigation-banner .contents a { font-weight: normal;}
.action-block { border: 2px solid #204a87; background: #b1c3de; padding: 1rem; margin: 1rem;}
.main-contents, .navigation-banner { padding-left: 1rem; padding-right: 1rem;}
hgroup { margin-bottom: 1rem;}
h3, p, ul {margin-bottom: 1rem; margin-top: 1rem;}
.line-below-title {border-bottom: 1px solid #ddd;}

/*Flexible box*/
.navigation-banner .contents { display: flex; justify-content: space-between; align-items: center; width: 100%;}
.navigation-left span {margin-right: 1rem;}
.action-block { display: flex; flex-direction: column; gap: 1rem;}
.action-block .link { display: flex; flex-direction: row; justify-content: space-between;}
.main-contents, .navigation-banner .contents {max-width: 50rem; margin-left: auto; margin-right: auto;} 

/*Homework 4 changes here*/
output{
    font-weight: bold;
    color: red;
}

#submission-form input:invalid{
    border: 2px solid red;
}

.action-block p{
    margin: 0;
    padding: 0;
}

.action-block form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.final_grade td{
    font-weight: 700;
}